<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <div class="nav">
        
        <div class="title">NBA player comparison regular season vs post-season</div>
        <div class="navbar-menu">
            <button class="menu-button">Menu</button>
            <ul class="menu-items">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </div>

    
    </div>
   
    <div class="beforeinput">
        <form action="">
            <input type="text" placeholder="Enter any NBA player">
            <button type="submit">
                <img src="" alt="">
            </button>
        </form>
    </div>




</body>
</html>